<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li></li>
        <li></li>
        <li></li>
        <li></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>

<div class="col-sm-8 text-left">
  <div class="image-background-1">
    <font  size="７" color="white">Langoon</font>
    <br>
    <font  size="５" color="white">いつか大海へ漕ぎ出すあなたのために。</font>
     <br><br>

    <font  size="５" color="white">言語の浅瀬、Langoonへようこそ。</font>
    <br>
    <font  size="５" color="white">ここは無料で言語を学習・保存・公開できるアプリです。</font>
    <br>
    <font  size="５" color="white">会員登録無しでも学習コンテンツ利用は可能です。</font>
    <br>
    <font  size="５" color="white">登録すると、言語の保存が可能になります。</font>
    <br>
    <font  size="５" color="white">2020.5.1現在、51言語が学習可能♪</font>
    <br>